* {
	box-sizing:		border-box;
}

body { 
	padding:			0 10px; 
	font-family:	Verdana, Arial, sans-serif; 
	font-size:		medium;
	border:				1px dashed black;
}

h1 { 
	margin:				0px 0px 20px 0px; 
	font-size:		1.9em;
	background-color: gray;
}

h2 { 
	font-size:		1.2em; 
	background-color: yellow;
}
