body {
	border: 			1px dashed black; 
	margin:				10px; 
  font-family: 	Verdana, Arial, sans-serif; 
  font-size:		18px; 
}

h1, p {
	background-color: gray;
	margin:				10px 10px 20px 10px; 
}

h1 {
	font-size:		30px;
}

div {
	border:				1px dotted red;
}
